
@import "tailwindcss";

body{
  font-family: 'Poppins', sans-serif;
  background-color: #faf7f2;
}

.p-button {
  background: #78350f !important;
  border: #78350f !important;
  color: white !important;
}

.p-button:hover {
  background: #5b2a0c !important;
  border: #5b2a0c !important;
}